allow init debugfs:file write;
allow init sysfs_sec:lnk_file r_file_perms;
allow init debugfs:dir mounton;
allow init socket_device:sock_file create_file_perms;
allow sysinit rootfs:lnk_file r_file_perms;
allow init clatd_exec:file getattr;
allow init sysfs_touchscreen:file setattr;
allow init dex2oat_exec:file getattr;
allow init dnsmasq_exec:file getattr;
allow init hostapd_exec:file getattr;
allow init idmap_exec:file getattr;
allow init ppp_exec:file getattr;
allow init profman_exec:file getattr;
allow init runas_exec:file getattr;
allow init sgdisk_exec:file getattr;
allow init userinit_exec:file getattr;
allow init blkid_exec:file getattr;
allow init sdcardd_exec:file getattr;
allow init fm_radio_device:chr_file { write };
