allow rild proc_net:file rw_file_perms;
allow rild self:capability { dac_override dac_read_search chown };
allow rild sysfs_sec:file rw_file_perms;
allow rild radio_data_file:lnk_file read;
allow rild radio_prop:property_service set;
allow rild mnt_user_file:lnk_file read;
allow rild mnt_user_file:dir search;
allow rild storage_file:lnk_file read;
allow rild system_app_data_file:file { read write getattr open lock };
allow rild system_app_data_file:dir search;
allow rild media_rw_data_file:file { getattr open read };
allow rild unlabeled:dir search;
allow rild unlabeled:file { getattr open read };
allow rild ctl_rildaemon_prop:property_service set;
#allow rild default_prop:property_service set;
